<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lalalla.t.biyesheji">

    <uses-sdk android:minSdkVersion="21" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Userinformation"
            android:label="@string/title_activity_userinformation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Module1" />
        <activity android:name=".Module2" />
        <activity android:name=".Module3" />
        <activity android:name=".AddActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".newss" />
        <activity android:name=".notifications" />
        <activity android:name=".summaryedit" />
        <activity android:name=".Photo"></activity>
    </application>

</manifest>
