@using RMS.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    IPagedList<RMS.Models.Policy> context = (IPagedList<RMS.Models.Policy>)ViewData["context"];
    ViewBag.Title = "创新俱乐部";
}
@section head {
    @Styles.Render("~/bundles/club")
}


<div id="cxjlb">
    <div class="row">
        <div id="search">
            <div style="float: right">
                <div class="input-group">
                    <input id="ss" type="text" class="form-control" placeholder="输入姓名或院系名称搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="images/test.jpg">
                <div class="caption">
                    <h3>姓名</h3>
                    <p>院系</p>
                    <p>年级</p>
                    <p>联系电话</p>
                    <p>邮箱</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="images/test.jpg">
                <div class="caption">
                    <h3>姓名</h3>
                    <p>院系</p>
                    <p>年级</p>
                    <p>联系电话</p>
                    <p>邮箱</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="images/test.jpg">
                <div class="caption">
                    <h3>姓名</h3>
                    <p>院系</p>
                    <p>年级</p>
                    <p>联系电话</p>
                    <p>邮箱</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="images/test.jpg">
                <div class="caption">
                    <h3>姓名</h3>
                    <p>院系</p>
                    <p>年级</p>
                    <p>联系电话</p>
                    <p>邮箱</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="images/test.jpg">
                <div class="caption">
                    <h3>姓名</h3>
                    <p>院系</p>
                    <p>年级</p>
                    <p>联系电话</p>
                    <p>邮箱</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="images/test.jpg">
                <div class="caption">
                    <h3>姓名</h3>
                    <p>院系</p>
                    <p>年级</p>
                    <p>联系电话</p>
                    <p>邮箱</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="filpover" style="width: 930px;display: inline-block">
    <div style="float: right">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>