#container #jtysbg{
    width: 550px;
    margin: 20px auto;
}

#container .row{
    width: 100%;
    margin: 0px;
}

#container .col{
    padding: 5px;
}

#container .section{
    font-family: 微软雅黑;
    font-size: 18px;
    padding-top: 20px;
}

#container .col1{
    border: 1px solid black;
    border-bottom: hidden;
}

#container .end1{
    border-bottom: 1px solid black;
}

#container .content1{
    width: 100%;
    padding-top: 0px;
    resize: none;
}

#container .col2{
    border: 1px solid black;
    border-bottom: hidden;
    border-right: hidden;
    height: 45px;
}

#container .end2{
    border-right: 1px solid black;
}

#container .p1{
    margin: 0px;
}

#container .p2{
    margin: 7px;
}

#container .p3{
    margin: 7px;
    text-align: center;
}

#container .p4{
    margin: -2px;
}

#container .se{
    text-align: center;
}

#container .table-start{
    border-top: 1px solid black;
}

#container .col3{
    border: 1px solid black;
    border-top: hidden;
    border-right: hidden;
    height: 45px;
}

#container .end3{
    border-right: 1px solid black;
}