#container #glyxxxq{
    width: 500px;
    margin: 20px auto;
}

#container #glyxxxq .row{
    margin: 0;
}

#container #glyxxxq .col-md-1,#container #glyxxxq .col-md-2,#container #glyxxxq .col-md-3,#container #glyxxxq .col-md-4,#container #glyxxxq .col-md-5,#container #glyxxxq .col-md-6,#container #glyxxxq .col-md-7,#container #glyxxxq .col-md-8,#container #glyxxxq .col-md-9,#container #glyxxxq .col-md-10,#container #glyxxxq .col-md-11,#container #glyxxxq .col-md-12{
    padding-left: 0;
    padding-right: 5px;
    margin-top: 5px;
}

#container #btn-container{
    width: 500px;
    margin: 20px auto;
    text-align: center;
}