#container #index{
    width: 100%;
}

#container .slidediv {
    width: 100%;
    margin: 12px auto 0px;
}

#container .carousel-control.left{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}

#container .carousel-control.right{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}

#container .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{
    left: -20%;
}

#container .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
    right: -20%;
}

#container .carousel-inner.item{
    text-align: center;
}

#container .banner{ width: 1200px; height:550px; margin:0 auto; margin-top:5px; position:relative;overflow:hidden; z-index:1; background-color:#f6f6f6;}
#container .none{display:none;}
#container .banner_show{width: 1200px; margin:0 auto;text-align:center;height:515px;overflow:hidden;}
#container .banner_show a img{ width: 1200px; height:550px;}
#container .bannger_inbox{position:absolute;left:0;top:0;}

#container .banner_pre_next{position:relative;z-index:905;top:50%;width:1000px;left:0;height:30px; margin:0 auto;}
#container .banner_pre_next a{width:30px;height:30px;background:url(../images/arrows.png) no-repeat;text-indent:-999em;}
#container .banner_pre_next .banner_btn_left{position:absolute;left:0%;background-position:0px 0px;}
#container .banner_pre_next .banner_btn_right{position:absolute;right:0%;background-position:-30px 0px;}

#container .content {
    width: 1100px;
    margin: 12px auto 0px;
    height: 465px;
}

#container .notifications{
    width: 540px;
    float: left;
    height: 380px;
}

#container .news{
    width: 540px;
    float: right;
    height: 380px;
}

#container .content-title{
    height: 52px;
    line-height: 52px;
    padding-left: 52px;
}

#container .title-text{
    float: left;
    font-family: 微软雅黑;
    font-size: 21px;
    line-height: 52px;
    color: rgb(29, 76, 144);
    font-weight: 500;
    margin: 0px 10px;
}

#container .content-list ul li span {
    float: left;
    font-size: 14px;
    display: block;
    font-family: Book Antiqua;
    padding-right: 10px;
    padding-left: 8px;
    color: #0395e1;
}

#container .content-list{
    font-style: normal;
    font-family: 微软雅黑;
    font-weight: normal;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#container .content-list ul li{
    list-style-type: none;
    height: 64px;
    line-height: 64px;
    vertical-align: bottom;
    border-bottom: #c9c9c9 solid 1px;
    font-size: 14px;
}

#container .content-list ul li a {
    float: right;
    font-family: 微软雅黑;
    font-size: 12px;
    color: rgb(40, 40, 40);
    width: 430px;
    line-height: 16px;
    margin-top: 23px;
}