#container #lxps{
    width: 800px;
    margin: 20px auto;
}

#container #lxps.row{
    margin: 0;
}

#container #lxps .row:hover{
    background-color: #e1e1e1;
}

#container #lxps .title:hover{
    background-color: #ffffff;
}

#container #lxps .single{
    background-color: #f8f8f8;
}

#container #lxps [class*=col-]{
    padding: 0;
}

#container #lxps [class*=col-] p{
    text-align: center;
    line-height: 40px;
    margin: 0;
}

#container #lxps .btn1{
    margin: 4px auto;
}

#container #flipover{
    width: 800px;
    margin: 10px auto;
}