#container #jslb{
    width: 500px;
    margin: 20px auto;
}

#container #jslb [class*=col-]{
    padding: 2.5px;
}

#container #btn-container{
    width: 500px;
    margin: 20px auto;
    text-align: center;
}