.navbar-brand{
    font-family: 微软雅黑;
}

#nav{
    height: 55px;
    overflow: hidden;
}

body > #container {
    width: 100%;
    min-height: calc(100vh - 175px);
}

#nav #navbar-collapse {
    display: flex !important;
}

#nav ul{
    flex:1;
}

#nav li a:hover {
    font-weight: bolder;
}

.pagefoot{
    height: 120px;
    padding: 21px 0;
    background-color: #f8f8f8;
}

.pf-content{
    text-align: center;
    font-size: 10px;
    color: black;
}