#container #cxjlb{
    width: 930px;
    margin: 0 auto;
    font-family: 微软雅黑;
}

#container #cxjlb img{
    width: 270px;
    height: 200px;
}

#container #cxjlb h3{
    text-align: center;
}

#container #cxjlb p{
    text-align: center;
}

#container .input-group{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container #search{
    margin: 0 auto;
    width: 930px;
    display: inline-block;
}