#container .article{
    padding-top: 20px;
    margin: 0 auto;
    font-family: 微软雅黑;
    width: 800px;
}

#container .date{
    text-align: right;
}

#container #file>p:first-child
{
    border-bottom:solid 1px #aaa;
}

#container #file>ul>li{
    list-style-type: none;
    border-bottom: #c9c9c9 solid 1px;
}
#container #file>ul>li a{
    color: black;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}
#container #file>ul>li a:hover{
    text-decoration: none;
}

#container #file>ul>li a>:last-child{
    flex: 1;
    text-indent: 1em;
    font-size: 1.5em;
}
#container #file>ul>li a span
{
    font-size:70%;
    color=#ddd;
}