@model RMS.Models.Club

@{
    ViewBag.Title = "新增创新俱乐部成员";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

@section Head{
    @Styles.Render("~/Content/adminaddclub")
}

<div id="xzcxjlb">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="xm">姓名</span>
                <input type="text" class="form-control" aria-describedby="xm">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="xh">学号</span>
                <input type="text" class="form-control" aria-describedby="xh">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="mm">密码</span>
                <input type="password" class="form-control" aria-describedby="mm">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="qrmm">确认密码</span>
                <input type="password" class="form-control" aria-describedby="qrmm">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="xb">性别</span>
                <div aria-describedby="xb" class="form-control">
                    <input type="radio" name="gender" id="male">男
                    <input type="radio" name="gender" id="female" style="margin-left: 10px">女
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="nj">年级</span>
                <div aria-describedby="nj">
                    <select class="form-control">
                        <option>请选择年级</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="szyx">所在院系</span>
                <div aria-describedby="szyx">
                    <select class="form-control">
                        <option>请选择院系</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="zy">专业</span>
                <div aria-describedby="zy">
                    <select class="form-control">
                        <option>请选择专业</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="dzyx">电子邮箱</span>
                <input type="text" class="form-control" aria-describedby="dzyx">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="lxdh">联系电话</span>
                <input type="text" class="form-control" aria-describedby="lxdh">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon" id="upload">上传照片</span>
                <input type="file" class="form-control" aria-describedby="upload">
            </div>
        </div>
    </div>

    <div id="btn-container">
        <div style="float: right">
            <input type="submit" class="btn btn-default">
            <input type="reset" class="btn btn-danger">
        </div>
    </div>
</div>