@using RMS.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "表格下载";
}
@section head
{
    @Styles.Render("~/bundles/table")
}
        <div id="bgxz">
            <div class="title">
                <h2>表格下载</h2>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="doc"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="xls"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="ppt"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="pdf"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="zip"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="doc"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="xls"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="ppt"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="pdf"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="file-icon" data-type="zip"></div>
                            <div>
                                这里是表格名称
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="filpover" style="width: 800px;display: inline-block">
                <div style="float: right">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>