.main-header{
    text-align: left;
    padding: 42px 0;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.headh1content{
    font-family: "微软雅黑";
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 4px;
}

.viceheadh3content{
    font-family: "微软雅黑";
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
}

.slidediv{
    height: 600px;
    background-color: #000000;
}

.carousel-control.left{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}

.carousel-control.right{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{
    left: -20%;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
    right: -20%;
}

.carousel-inner.item{
    text-align: center;
}

.banner{ width:1440px; height:550px; margin:0 auto; margin-top:5px; position:relative;overflow:hidden; z-index:1; background-color:#f6f6f6;}
.none{display:none;}
.banner_show{width:1440px; margin:0 auto;text-align:center;height:515px;overflow:hidden;}
.banner_show a img{ width: 1440px; height:550px;}
.bannger_inbox{position:absolute;left:0;top:0;}

.banner_pre_next{position:relative;z-index:1005;top:45%;width:1100px;left:0;height:30px; margin:0 auto;}
.banner_pre_next a{width:30px;height:30px;background:url(../images/arrows.png) no-repeat;text-indent:-999em;}
.banner_pre_next .banner_btn_left{position:absolute;left:0%;background-position:0px 0px;}
.banner_pre_next .banner_btn_right{position:absolute;right:0%;background-position:-30px 0px;}