#container #cgtj{
    width: 550px;
    margin: 20px auto;
}

#container .row{
    width: 100%;
    margin: 0px;
}

#container .table-start{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    margin-top: 10px;
}

#container .col{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-top: hidden;
    border-right: hidden;
    padding: 5px;
    height: 45px;
}

#container .end{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: black;
}