#container{
    width: 550px;
    margin: 20px auto;
}

#no{
    width: 300px;
}

.row{
    width: 100%;
    margin: 0px;
}

.col{
    padding: 5px;
}

.section{
    font-family: 微软雅黑;
    font-size: 18px;
    padding-top: 20px;
}

.col1{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-bottom: hidden;
}

.end1{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.content1{
    width: 100%;
    padding-top: 0px;
    resize: none;
}

.col2{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-bottom: hidden;
    border-right: hidden;
    height: 45px;
}

.end2{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: black;
}

.p1{
    margin: 0px;
}

.p2{
    margin: 7px;
}

.p3{
    margin: 7px;
    text-align: center;
}

.p4{
    margin: -2px;
}

.se{
    text-align: center;
}

.table-start{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
}

.col3{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-top: hidden;
    border-right: hidden;
    height: 45px;
}

.end3{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: black;
}