.container #signup{
    width: 450px;
    margin: 20px auto;
}

.container .col-md-6{
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
}

.container #btn-container{
    width: 450px;
    margin: 20px auto;
}