#container #xmgl{
    width: 600px;
    margin: 20px auto;
}

#container #xmgl .row{
    width: 100%;
    margin: 0;
}

#container #xmgl .col-md-6,#container #xmgl .col-md-12{
    margin-top: 5px;
    padding-left: 0;
    padding-right: 5px;
}

#container #btn-container{
    width: 600px;
    margin: 10px auto;
    text-align: center;
}