.container .xmjd{
    width: 550px;
    margin: 20px auto;
}

.container #content{
    margin-top: 10px;
    height: 300px;
}

.container #btn-container{
    text-align: center;
    margin-top: 10px;
}