#container #search{
    width: 800px;
    margin: 0px auto;
    display: block;
}

#container .input-group{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container #zdxmgl{
    width: 800px;
    margin: 20px auto;
    display: table;
}

#container .single{
    background-color: #f8f8f8;
}

#container .p1{
    margin-top: 8px;
}

#container .p2{
    text-align: center;
}

#container .row .btn{
    margin-top: 5px;
}

#container .xm{
    margin-top: 15px;
}

#container #flipover{
    width: 800px;
    margin: 10px auto;
}